
@{
    ViewBag.Title = "Check";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Thông tin chi tiết đơn đặt hàng</h2>

<br />
<h3>Thông tin về tình trạng đơn hàng</h3>
<div class="table">
    <table class="listing" cellpadding="0" cellspacing="0">
        <tr style="text-align:center; font-weight:bold">
            <td>MaDDH</td>
            <td>@Model.iMaDDH</td>
        </tr>
        <tr style="text-align:center; font-weight:bold">
            <th>Tình trạng thanh toán</th>
            <th>@Model.iThanhToan</th>
        </tr>
        <tr style="text-align:center; font-weight:bold">
            <th>Ngày Đặt</th>
            <th>@Model.iNgayDat</th>
        </tr>
        <tr style="text-align:center; font-weight:bold">
            <th>Ngày giao</th>
            <th>@Model.iNgayGiao</th>
        </tr>
        <tr style="text-align:center; font-weight:bold">
            <th>Tình trạng giao</th>
            <th>@Model.iGiaoHang</th>
        </tr>
    </table>
</div>
<br />
<h3>Thông tin về khách hàng</h3>
<div class="table">
    <table class="listing" cellpadding="0" cellspacing="0">
        <tr style="text-align:center; font-weight:bold">
            <td>MaKH</td>
            <td>@Model.ikhachhang.MaKH</td>
        </tr>
        <tr style="text-align:center; font-weight:bold">
            <th>Tên Khách hàng</th>
            <th>@Model.ikhachhang.TenKH</th>
        </tr>
        <tr style="text-align:center; font-weight:bold">
            <th>Ngày sinh</th>
            <th>@Model.ikhachhang.NgaySinh</th>
        </tr>
        <tr style="text-align:center; font-weight:bold">
            <th>Địa chỉ</th>
            <th>@Model.ikhachhang.DiaChi</th>
        </tr>
        <tr style="text-align:center; font-weight:bold">
            <th>Số Điện Thoại</th>
            <th>@Model.ikhachhang.DienThoai</th>
        </tr>
        <tr style="text-align:center; font-weight:bold">
            <th>Email</th>
            <th>@Model.ikhachhang.Email</th>
        </tr>
    </table>
</div>
<h3>Danh sách sản phẩm</h3>
@Html.Action("DsSanPham", "DDH", new { id = Model.iMaDDH })
<br />
<div class="container">
    <div class="col-md-3"> </div>
    <div class="col-md-2"><a href="@Url.Action("ThanhToan", "DDH", new { id = Model.iMaDDH })" style="color:red"><h3>Đã Thanh Toán</h3></a></div>
    <div class="col-md-2"><a href="@Url.Action("GiaoHang", "DDH", new { id = Model.iMaDDH })" style="color:red"><h3>Đã Giao Hàng</h3></a></div>
    <div class="col-md-2"><a href="@Url.Action("Huy", "DDH", new { id = Model.iMaDDH })" style="color:red"><h3>Hủy Đơn Hàng</h3></a></div>
</div>

<style>
    .bt {
        padding-top: 15px;
        margin: auto;
    }

    div.table {
        float: left;
        position: relative;
        width: 100%;
        margin-top: 18px;
    }

    table.listing {
        border-bottom: 1px solid #201b3c;
        width: 100%;
        padding: 0;
        margin: auto;
        border: 1px solid #201b3c;
    }

        table.listing th {
            border-top: 0 !important;
            margin: auto;
        }

            table.listing th.full {
                border-left: 0;
                border-right: 0 !important;
                text-align: left;
                text-transform: uppercase;
            }

    div.table img.left {
        position: absolute;
        top: 0;
        left: 0;
    }

    div.table img.right {
        position: absolute;
        top: 0;
        right: 1px;
    }
    /* table styles */
    table.listing td,
    table.listing th {
        margin: auto;
        border: 1px solid #201b3c;
        text-align: center;
    }

    table.listing th {
        margin: auto;
        background: #fff;
        color: #000;
        padding: 5px;
    }

    table.listing td {
        background: #201b3c;
        color: #fff;
        padding: 3px 5px;
    }

    table.listing .bg td {
        background: #ff00dc;
    }

    table.listing .white td {
        background: #000;
    }

    table.listing .first {
        border-left: 0px solid #ff00dc;
        text-align: left;
    }

    table.listing .last {
        border-right: 0px solid #ff00dc;
    }

    table.listing th.first {
        background: #ff00dc url(../img/bg-th-left.gif) no-repeat left top;
        border-left: 0;
    }

    table.listing th.last {
        background: #ff00dc url(../img/bg-th-right.gif) no-repeat right top;
        border-right: 0;
    }

    table.listing .style1 {
        font-weight: bold;
        color: #FF7A00;
    }

    table.listing .style2 {
        font-weight: bold;
        padding-left: 16px;
    }

    table.listing .style3 {
        padding-left: 25px;
    }

    table.listing .style4 {
        padding-left: 35px;
    }

    table.form .last {
        padding: 1px 0 1px 5px;
        text-align: left;
    }

    table.form th,
    table.form td {
        padding-left: 10px;
    }

    table.form input.text {
        width: 262px;
    }
</style>

