@model webfinal.Models.HangNH

@{
    ViewBag.Title = "Them";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Thêm hãng nước hoa</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <p style="color:red">@ViewBag.Loi</p>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TenHang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenHang)
                @Html.ValidationMessageFor(model => model.TenHang)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
