<div class="tab-pane" id="listView">
    @foreach(var item in Model)
    { 
    <div class="row">
        <div class="span2">
            <img src="@Url.Content("~/hinhsp/" + @item.hinh)" alt="" />
        ></div>
        <div class="span4">
            <h5>@item.TenNH</h5>
            <p>
                @item.MoTa
            </p>
            <a class="btn btn-small pull-right" href="product_details.html">Xem Chi Tiết</a>
            <br class="clr" />
        </div>
        <div class="span3 alignR">
            <form class="form-horizontal qtyFrm">
                <h3>@String.Format("{0:0,0 VNĐ}", @item.Gia).Replace(",", ".")</h3>
               
                <div class="btn-group">
                    <a href="product_details.html" class="btn btn-large btn-primary"> Thêm Vào Giỏ <i class=" icon-shopping-cart"></i></a>
                    <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                </div>
            </form>
        </div>
    </div>
        <hr class="soft" />
    }
    
</div>
<div class="tab-pane active" id="blockView">
    <ul class="thumbnails">
        @foreach (var item in Model)
    {
           <li class="span3">
            <div class="thumbnail">
                <i class="tag"></i>
                <a href="@Url.Action("chitiet","TrangChu", new { id = item.MaNH })"><img src="@Url.Content("~/hinhsp/" + @item.hinh)" width="300"></a>
                <div class="caption" style="height: 130px;">
                    <h5 style="height: 60px">@item.TenNH</h5>
                    <h4><a class="btn" href="product_details.html">Thêm Vào Giỏ</a> <span class="pull-right">@String.Format("{0:0,0 VNĐ}", @item.Gia).Replace(",", ".")</span></h4>
                </div>
            </div>
        </li>
    }
    </ul>
</div>
