
@using webfinal.Models
@using PagedList.Mvc;
@model PagedList.PagedList<tuvan>
@{
    ViewBag.Title = "TuVan";
    Layout = "~/Views/Shared/layoutchung.cshtml";
}
<br />
<h4>Hãy đặt câu hỏi chúng tôi sẽ giải đáp mọi thắc mắc của bạn về Nước Hoa T&N</h4>
<br />
@ViewBag.ThongBao
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <form class="form-horizontal" style="width:100%">
        <fieldset style="width:100%">
            <div class="control-group" style="width:100%">
                <textarea rows="6" id="textarea" class="input-xlarge" style="width:100%" name="cauhoi"></textarea>
            </div>
            <button class="btn btn-large" type="submit">Gửi Thư</button>

        </fieldset>
        <hr class="soft" />
    </form>
}
<div>
    
    
        @foreach (var item in Model)
            {
                <h5>@item.itenKH hỏi: </h5>
                <h6 style="margin-left:20px;">@item.iCauHoi</h6>
                <h5>Trả Lời: </h5>
                <h6 style="margin-left:20px;">@item.iTraLoi</h6>
                <hr class="soft" />
            }
    
</div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="menutrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .menutrang li {
        display: inline;
    }
</style>







