
@{
    ViewBag.Title = "chitiet";
    Layout = "~/Views/Shared/layoutchung.cshtml";
}
<div class="row">
    <div id="gallery" class="span3">
        <a href="@Url.Content("~/hinhsp/" + @Model.hinh)" title="Fujifilm FinePix S2950 Digital Camera">
            <img src="@Url.Content("~/hinhsp/" + @Model.hinh)" style="width:100%" alt="Fujifilm FinePix S2950 Digital Camera" />
        </a>
        <div id="differentview" class="moreOptopm carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <a href="@Url.Content("~/hinhsp/" + @Model.hinh)"> <img style="width:29%" src="@Url.Content("~/hinhsp/" + @Model.MaNH + ".png")"  alt=" " /></a>
                    <a href="@Url.Content("~/hinhsp/" + @Model.hinh)"> <img style="width:29%" src="@Url.Content("~/hinhsp/" + @Model.MaNH + ".png")" alt=" " /></a>
                    <a href="@Url.Content("~/hinhsp/" + @Model.hinh)"> <img style="width:29%" src="@Url.Content("~/hinhsp/" + @Model.MaNH + ".png")" alt=" " /></a>
                </div>
                <div class="item">
                    <a href="@Url.Content("~/hinhsp/" + @Model.hinh)"> <img style="width:29%" src="@Url.Content("~/hinhsp/" + @Model.MaNH + ".png")" alt=" " /></a>
                    <a href="@Url.Content("~/hinhsp/" + @Model.hinh)"> <img style="width:29%" src="@Url.Content("~/hinhsp/" + @Model.MaNH + ".png")" alt=" " /></a>
                    <a href="@Url.Content("~/hinhsp/" + @Model.hinh)"> <img style="width:29%" src="@Url.Content("~/hinhsp/" + @Model.MaNH + ".png")" alt=" " /></a>
                </div>
            </div>
            <!--
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            -->
        </div>
        <div class="btn-toolbar">
            <div class="btn-group">
                <span class="btn"><i class="icon-envelope"></i></span>
                <span class="btn"><i class="icon-print"></i></span>
                <span class="btn"><i class="icon-zoom-in"></i></span>
                <span class="btn"><i class="icon-star"></i></span>
                <span class="btn"><i class=" icon-thumbs-up"></i></span>
                <span class="btn"><i class="icon-thumbs-down"></i></span>
            </div>
        </div>
    </div>

    <div class="span6">
        <h3>@Model.TenNH</h3>
        <small>@Model.PhongCach</small>
        <hr class="soft" />
        <form class="form-horizontal qtyFrm" method="post" action="@Url.Action("ThemGioHang", "GioHang", new { @iMANH = @Model.MaNH, @strURL = Request.Url.ToString(), @sl = 1 })">
            <div class="control-group">
                <label class="control-label"><span> @String.Format("{0:0,0 VNĐ}", Model.Gia).Replace(",", ".")</span></label>
                <div class="controls">
                    <input type="number" class="span1" placeholder="Qty." />
                    <button type="submit" class="btn btn-large btn-primary pull-right"> Thêm Vào Giỏ <i class=" icon-shopping-cart"></i></button>
                </div>
            </div>
        </form>

        <hr class="soft" />
        <h4>100 items in stock</h4>
        <hr class="soft clr" />
        <p>
            @Model.MoTa
        </p>
        <a class="btn btn-small pull-right" href="#detail">Xem Thêm</a>
        <br class="clr" />
        <a href="#" name="detail"></a>
        <hr class="soft" />
    </div>

    <div class="span9">
        <ul id="productDetail" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Chi Tiết Sản Phẩm</a></li>
            <li><a href="#profile" data-toggle="tab">Một Số Sản Phẩm Khác</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="home">
                <h4>Thông tin sản phẩm</h4>
                <table class="table table-bordered">
                    <tbody>
                        <tr class="techSpecRow"><th colspan="2">Product Details</th></tr>
                        <tr class="techSpecRow"><td class="techSpecTD1">Tên nước hoa: </td><td class="techSpecTD2">@Model.TenNH</td></tr>
                        <tr class="techSpecRow"><td class="techSpecTD1">Giá: </td><td class="techSpecTD2">@String.Format("{0:0,0 VNĐ}", Model.Gia).Replace(",", ".")</td></tr>
                        <tr class="techSpecRow"><td class="techSpecTD1">Nồng độ: :</td><td class="techSpecTD2">@Model.NongDo</td></tr>
                        <tr class="techSpecRow"><td class="techSpecTD1">Nhóm hương:</td><td class="techSpecTD2">@Model.NhomHuong</td></tr>
                        <tr class="techSpecRow"><td class="techSpecTD1">Phong cách:</td><td class="techSpecTD2">@Model.PhongCach</td></tr>
                        <tr class="techSpecRow"><td class="techSpecTD1">Năm sản xuất:</td><td class="techSpecTD2">@Model.NamSX</td></tr>
                        <tr class="techSpecRow"><td class="techSpecTD1">Xuất xứ:</td><td class="techSpecTD2">@Model.XuatXu</td></tr>
                        <tr class="techSpecRow"><td class="techSpecTD1">Phong cách:</td><td class="techSpecTD2">@Model.PhongCach</td></tr>
                    </tbody>
                </table>
                <h5>Mô Tả</h5>
                <p>
                    @Model.MoTa
                </p>    
            </div>
            <div class="tab-pane fade" id="profile">
                <div id="myTab" class="pull-right">
                    <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
                    <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
                </div>
                <br class="clr" />
                <hr class="soft" />
                <div class="tab-content">
                    @Html.Action("SpKhac","TrangChu")
                </div>
                <br class="clr">
            </div>
        </div>
    </div>
</div>




