@model IEnumerable<DA_CCMT.Models.SanPham>


@{
//int i = 0;
}
    <!-- Lấy tông tin tham thố truyền từ Layoutuser chỉ số i-->

        
        @foreach (var item in Model)  //Chạy vòng lặp lấy sản phẩm hot
        {

            
                <li class="span3">
                    <div class="thumbnail"> <!-- Khung chứa sản phẩm-->
                        <i class="tag"></i> <!-- New-->
                        <!-- Khi nhấn vào hình sản phẩm sẽ chuyển sang trang chi tiết sản phẩm-->
                        <a href="@Url.Action("chitiet","TrangChu", new { id = item.MaNH })"><img src="@Url.Content("~/hinhsp/" + @item.hinh)" width="200"></a>
                        <div class="caption" style="height: 100px;">
                            <h5 style="height:50px;">@item.TenNH</h5><!--Lấy tên nước hoa trong model-->
                            <!--Button chi tiết sp khi nhấn vào View-->
                            <h4><a class="btn" href="@Url.Action("chitiet","TrangChu", new { id = item.MaNH })" style="">VIEW</a> <span class="pull-right">@String.Format("{0:0,0}", @item.Gia).Replace(",", ".") </span></h4> <!-- Giá sản phẩm lấy theo định dạng VNĐ-->
                        </div>
                    </div>
                </li>



        }<!-- Hết vòng lặp-->

